lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

.env
.cf-env
cf-ssh.yml

npm-debug.log

# Ignore modules, should be built using `node install`
node_modules

# Ignore sails.js filesystem database
.tmp/

# Ignore the local configuration file
config/local.js

# Ignore production files
assets/build
assets/uploads

# Ignore vagrant & chef tmp files
.vagrant/*
chef/cookbooks/*

# Ignore editor temp files
*~
*#
*.bak
*.swp

.DS_STORE
.tmp
*.idea

# ruby version manager
.rvmrc
